+CXD56_CISIF=y
+CXD56_I2C2=y
+DRIVERS_VIDEO=y
+EXAMPLES_USB_CAM_SERIAL=y
+VIDEO_ISX012=y
+VIDEO_ISX019=y
+VIDEO_STREAM=y
-MMCSD=y
-MMCSD_SDIO=y
-NXFONTS_PACKEDMSFIRST=n
-SCHED_LPWORK=y
-CXD56_SDCARD_AUTOMOUNT=n
-FS_AUTOMOUNTER=n
